<h2>Creating the Blog Application</h2>
<p>I created a resource in the term used for a collection of similar objects, such as articles in this case. This method, can create, read, update and destroy items for a resource and these operations are referred to as CRUD operations.

Rails provides a resources method which can be used to declare a standard REST resource</p>
</div>
